@page
@model Beci_Helga_Proiect.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.Brand" class="control-label"></label>
                <input asp-for="Car.Brand" class="form-control" />
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Type" class="control-label"></label>
                <input asp-for="Car.Type" class="form-control" />
                <span asp-validation-for="Car.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Price" class="control-label"></label>
                <input asp-for="Car.Price" class="form-control" />
                <span asp-validation-for="Car.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.SellingDate" class="control-label"></label>
                <input asp-for="Car.SellingDate" class="form-control" />
                <span asp-validation-for="Car.SellingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Car.SellerID" class="control-label">Seller Name</label>
            <select asp-for="Car.SellerID" class="form-control" asp-items="ViewBag.SellerID">
            </select>
            </div>
            <!--<span asp-validation-for="Car.SellerID" class="text-danger"></span>-->
    <div class="form-group">
        <div class="table">
            <table>
                <tr>
                    @{ 
                        int cnt = 0;
                        foreach (var cat in Model.AssignedCategoryDataList)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @:</tr><tr>
                }
                            @:<td>
                <input type="checkbox" 
                       name="selectedCourses" 
                       value="@cat.CategoryID" 
                       @(Html.Raw(cat.Assigned ? 
                       "checked=\"checked\"" : "")) /> 
                       @cat.CategoryID @: @cat.Name 
                @:</td>
                }
                        @:</tr> 
                }
                </table>
        </div>
    </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
