@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can find all the cars we have and had through the years. Enjoy and start the shopping!</p>
</div>
